/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color:rgba(255, 0, 112, 1);
  --text-color:rgba(241, 178, 206, 1);
  --focus-color: rgba(219, 0, 255, 1);
}

.theme-dark .page {
  --background-image: url('../images/cover-image-dark.png');
}

.theme-dark .subtitle_title_decor, 
.title_decor, h4 {
  --text-color: rgba(0, 0, 40, 1);
}

.theme-dark h2, .header__theme-menu-button {
  --text-color: rgba(255, 0, 112, 1);
}
