/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color:rgba(255, 141, 203, 1);
  --text-color:rgba(53, 52, 48, 1);
}

.theme-light .page {
  --background-image: url('../images/cover-image-light.png');
}

.theme-light .no_focus,.theme-light .focus {
  --focus-color: rgba(255, 194, 230, 1);
}

.theme-light .header__theme-menu-button {
  --text-color:rgba(53, 52, 48, 1);
}