@font-face {
  font-family: 'IBM Plex mono';
  src: url('../fonts/IBMPlexMono-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url('../fonts/IBMPlexMono-Bold.woff') format('woff');
  font-weight: bold;
}

body {
  font-family: 'IBM Plex mono';
}

.page {
  max-width: 1024px;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-color);
  padding: 10px;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "menu"
    "nofocus"
    "content";
  margin-bottom: 40px;
  height: 100vh;
  place-items: center;
}

.section {
  margin-bottom: 50px;
}

.header__theme-menu-list {
  grid-area: menu;
  display: grid;
  place-items: center;
  gap: 10px;
  color: var(--text-color);
  justify-self: end;
  align-content: center;
  margin-top: 75px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--text-color);
}

.no_focus {
  grid-area: nofocus;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--focus-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-top: 65px;
  margin-bottom: 55px;
}

.subtitle_title_decor {
  grid-area: content;
  font-weight: bold;
}

.p {
  font-size: var(--base-text-size);
  line-height: 23.4px;
}

.title_decor {
  background-color: var(--accent-color);
  margin-bottom: 9px;
}

.subtitle_title_decor, 
.title_decor, 
h4
{
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
}

.subtitle_title_decor, h4 {
  background-color: var(--accent-color);
}

.sections_title {
  margin-bottom: 20px;
}
.chapter {
  margin-bottom: 50px;
}
.subchapter {
  margin-bottom: 20px;
}

.galery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.focus {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 668px;
  color: var(--focus-color);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
}

.galery-item1,
.galery-item2,
.galery-item3,
.galery-item4
.galery-item5 {
  width: 100%;
  height: 100%;
}

.galery img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; /* Обрезает, сохраняя пропорции */
  display: block;
}

footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "menu menu"      
      "nofocus nofocus"
      ". content";
  }

  .no_focus {
    font-size: 120px;
    margin-top: 173px;
    margin-bottom: 162px;
  }

  .page {
    padding-right: 20px;
    padding-top: 20px;
  }

   .header__theme-menu-list {
    justify-self: end;
    margin-top: 192px;
  }

  .section1, 
  .section3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 50px;
  }

  .sections_title {
    flex: 1; 
    text-align: left;
    margin: 0;
    align-self: flex-start;
  }

  .chapter {
    flex: 2; 
    display: flex;
    flex-direction: column; 
    gap: 20px;
  }

  .galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px;
  }

  .galery-item1 {
    grid-column: span 2; /* Занимает 2 колонки */
    grid-row: 1;         /* В первой строке */
  }

  .galery-item2 {
    grid-column: 3;            
    grid-row: span 2;
  }

  .galery-item3 {
    grid-column: 1;            
    grid-row: 2 / span 2;
  }

  .galery-item4 {
    grid-column: 2;           
    grid-row: 2;
  }

  .galery-item5 {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
 .header__theme-menu-list {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 20px;
  }

  .section2 .chapter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section2 .subchapter {
    margin-bottom: 0;
  }

  .galery {
    grid-template-columns: repeat(3, 1fr);
  }
}